.review {
    margin: 2rem 0;
}

.review__title {
    font-family: 'Futura';
    font-weight: 300;
    font-size: 1.8rem;
    max-width: 25rem;
    padding: 1rem 0 .5rem;
}

.review__text {
    font-size: 1.2rem;
    max-width: 25rem;
    color: var(--color-white);
    opacity: .5;
}

@media(min-width: 50rem) {
    .review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .review__title {
        font-size: 2.6rem;
    }

    .review__text {
        font-size: 1.2rem;
    }
}