.review {
    margin: 2rem 0;
}

.review__title {
    font-family: 'Futura';
    font-weight: 300;
    font-size: 1.8rem;
    max-width: 25rem;
    padding: 1rem 0 .5rem;
}

.review__text {
    font-size: 1.2rem;
    max-width: 25rem;
    color: var(--color-white);
    opacity: .5;
}