.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    max-width: 60rem;
    margin: 0 auto;
    gap: 1rem;
}

.hero__title {
    font-family: 'Futura';
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.7rem;
    max-width: 35rem;
}

.hero__description {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 30rem;
    color: var(--color-white);
    opacity: 0.5;
}

.hero__waves {
    background-image: url('/assets/images/wave.svg');
    background-size: cover;
    background-position: 0 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}