.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    gap: 1rem;
    max-width: 60rem;
    margin: 0 auto;
}

.hero__title {
    font-family: 'Futura';
    font-weight: 300;
    font-size: 2rem;
    max-width: 35rem;
}

.hero__description {
    font-size: 1.2rem;
    max-width: 30rem;
    color: var(--color-white);
    opacity: 0.5;
}

.hero__waves {
    background-image: url('/assets/images/wave.svg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
    position: absolute;
    bottom: -35%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media(min-width: 40rem) {
    .hero__title {
        font-size: 3.5rem;
    }
}