.subscribe {
    background: var(--color-blue);
    background: linear-gradient(153deg, var(--color-blue) 35%, var(--color-yellow) 100%);
    padding: 1.5rem;
    border-radius: .2rem;
    max-width: 60rem;
    margin: 0 auto;
}

.subscribe__heading {
    max-width: 20rem;
    padding: 3rem 0 2rem;
    font-size: 2rem;
    font-family: 'Futura';
    font-weight: 300;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
}

.subscribe__mail {
    all: unset;
    border: 1px solid var(--color-white);
    padding: 1rem;
    border-radius: .2rem;
}

.subscribe__submit {
    all: unset;
    font-family: 'Futura', sans-serif;
    font-weight: 700;
    background-color: var(--color-white);
    color: var(--color-blue);
    padding: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    border-radius: .2rem;
}

.subscribe__submit:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.subscribe__tacbox {
    background-color: var(--color-white);
    width: 1rem;
    height: 1rem;
    opacity: .5;
}

.subscribe__tacbox__container {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribe__label {
    color: var(--color-white);
    opacity: .5;
    margin-left: 1rem;
}