.error {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.error__heading {
    font-size: 6rem;
}

.error__description {
    max-width: 30rem;
    font-size: 1.2rem;
    text-align: center;
}

.error__link {
    background-color: var(--color-white);
    color: var(--color-blue);
    padding: .5rem 1.2rem;
    border-radius: .2rem;
    transition: .3s ease-in-out;
}

.error__link:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.error__wave {
    background-image: url('/assets/images/wave.svg');
    background-size: cover;
    background-position: top;
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}