.footer {
    background-color: var(--color-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__nav {
    font-family: "Futura", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0;
    margin: 1rem 0;
}

.footer__date {
    color: var(--color-white);
    opacity: .5;
    margin: 2rem 0;
}

.footer__credits {
    color: var(--color-white);
    opacity: .5;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.seperator__mobile,
.seperator__desktop {
    height: 1px;
    width: 90%;
    background-color: var(--color-white);
    opacity: .5;
}

.seperator__mobile {
    display: block;
}

.seperator__desktop {
    display: none;
}

.footer__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width: 55rem) {

    .footer__nav {
        padding: 0;
        flex-direction: row;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 60rem;
    }

    .footer__wrapper:first-child {
        padding: 2rem 0 0;
    }


    .seperator__mobile {
        display: none;
    }

    .seperator__desktop {
        display: block;
        width: 60rem;
    }

    .footer__credits,
    .footer__date {
        font-size: .8rem;
    }

    .footer__credits {
        margin-bottom: 0;
    }
}