.footer {
    background-color: var(--color-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__nav {
    font-family: "Futura", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    letter-spacing: .3rem;
    padding-top: 2rem;
}

.footer__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0;
}

.footer__date {
    color: var(--color-white);
    opacity: .5;
    margin: 2rem 0;
}

.footer__credits {
    color: var(--color-white);
    opacity: .5;
    text-align: center;
    padding: 0 1rem 2rem;
    text-transform: uppercase;
}

.seperator {
    height: 1px;
    width: 90%;
    background-color: var(--color-white);
    opacity: .5;
    margin: 2rem 0;
}