.details {
    cursor: pointer;
}

.details[open] .summary~* {
    animation: sweep .5s ease-in-out;
}

.summary {
    font-family: "Futura", sans-serif4;
    font-size: 1.5rem;
}

.details[open] .seperator {
    display: none;
    opacity: 0;

}

@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    100% {
        opacity: .5;
        transform: translateY(0)
    }
}

.seperator {
    width: 100%;
    margin: 1rem 0;
}

.description {
    font-size: 1rem;
    opacity: .5;
    max-width: 38rem;
}

@media(min-width: 55rem) {
    .summary {
        font-size: 1.8rem;
    }

    .description {
        font-size: 1.2rem;
    }
}